.login {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
    background-size: cover;
    background-position: center;
    margin: -8px;
  }
  
  
  input[type="register"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #bb5f3e;
    border: 1px solid #bb5f3e;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="register"]:hover {
    background: #bb5f3e;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1px;
    /* background-image: URL("https://res.cloudinary.com/drnokmrib/image/upload/v1689081833/download_hcadvw.jpg"); */
  }
  
  .list-container {
    display: flex;
  }

  .input-container1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    color: rgba(30, 18, 1, 0.981);
    font-size: 20px;
  }

  .input-container2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    color: #e5b57d;
    font-size: 20px;
  }

  .register {
    display: flex;
    justify-content: center;
  }

  .titlereg{
    margin-right: 40px;
    font-size: 25px;
  }
  .imge{
    background-image: url("https://res.cloudinary.com/drnokmrib/image/upload/v1688806532/home_page_image_j4rwkk.jpg");
  }